<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>Insert Form</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<link rel="stylesheet"  href="/style.css">
		<link rel="icon" href="favicon.png">
		<script type="text/javascript" src="custom.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
						  <img src="logo2.jpg" alt="Logo" style="width:80px;">
				</a>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/saveStudentLayer">Insert</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/updateStudentByIDLayer">Update</a>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Display
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="/getAllStudents">All Students</a></li>
					  <li><a class="dropdown-item" href="/getStudentbyIDLayer">Individual Students</a></li>
					</ul>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Delete
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="/deleteAllStudent" onclick="deleteAll()">All Students</a></li>
					  <li><a class="dropdown-item" href="/deleteStudentByIDLayer">Individual Students</a></li>
					</ul>
				  </li>
				  </ul>
			  </div>
			</div>
		  </nav>
	<div class="container">
		<h1>Enroll Yourself</h1>
		<form name="Input" th:action="@{/saveStudent}" th:object="${student}" method="POST" onsubmit="saved()">
			First Name:
			<input type="text" name="fName" th:field="*{fName}" class="form-control mb-4 col-4" placeholder="First Name" required>
			Last Name:
			<input type="text" name="lName" th:field="*{lName}" class="form-control mb-4 col-4" placeholder="Last Name" required>
			Gender:
		    <div class="form-check form-check-inline">
		        <input class="form-check-input" type="radio" th:field="*{gender}" id="option1" name="gender"value="Female" required>
		        <label class="form-check-label" for="option1">Female</label>
		    </div>
		    <div class="form-check form-check-inline">
		        <input class="form-check-input" type="radio" th:field="*{gender}" id="option2" name="gender" value="Male" required>
		        <label class="form-check-label" for="option2">Male</label>
		    </div>
		    <div class="form-check form-check-inline">
		        <input class="form-check-input" type="radio" th:field="*{gender}" id="option3" name="gender" value="Others" required>
		        <label class="form-check-label" for="option3">Others</label>
		    </div>
		    <br><br>
			Address:
			<input type="text" name="address" th:field="*{address}" class="form-control mb-4 col-4" placeholder="Address" required>
			Mobile Number
			<input type="number" name="mobile" th:field="*{mobile}" class="form-control mb-4 col-4" placeholder="Mobile" required>
			Email Id:
			<input type="text" name="email" th:field="*{email}" class="form-control mb-4 col-4" placeholder="name@example.com" required>
			<button type="submit" class="btn btn-info col-2">Save Student</button>
		</form>
	</div>
</body>
</html>